@model LccNetwork.Models.HighlightableItemPart

@{
    var containingType = Model.ContentItem.ContentType;
    var friendlyContainingType = Model.ContentItem.TypeDefinition.DisplayName;

    var highlightOptions = new List<SelectListItem>();
    highlightOptions.Add(new SelectListItem() { Value = "All", Text = "All" });
    highlightOptions.Add(new SelectListItem() { Value = containingType, Text = friendlyContainingType });
    
}

@if (!Model.IsHighlighted)
{
    <fieldset>
        <span class="checkbox-and-label">
            @Html.EditorFor(m => m.IsHighlighted)
            <label for="@Html.FieldIdFor(m => m.IsHighlighted)" class="forcheckbox">@T("Set as the highlighted item for: ")</label>
        </span>
        @Html.DropDownListFor(m => m.HighlightGroup, highlightOptions)
        <span class="hint">@T("Check to promote this content as a highlighted item.")</span>
    </fieldset>
}
else
{
    <span>@T("This is the featured item for {0} content.", Model.HighlightGroup)</span>    
}
