@{
    var themes = (IEnumerable<SelectListItem>)Model.Themes;
}
<div id="theme-select">
    @using (Html.BeginFormAntiForgeryPost(
        Url.Action("Activate", new { Controller = "Home", Area = "BigFont.TheThemeMachineDesigner" }),
        FormMethod.Post))
    {
        <fieldset>
            <span>@T("Current theme: ")</span>
            @Html.DropDownList("ThemeId", themes)
            @Html.Hidden("ReturnUrl", Context.Request.RawUrl)
            <button type="submit"
                    title="@T("Apply")"
                    name="submit.Apply"
                    value="@T("Apply")">
                @T("Apply this theme")
            </button>
        </fieldset>
    }
</div>