@using Orchard.Utility.Extensions;
@using LccNetwork.Bootstrap.Extensions;

@{
    string name = Model.ContentField.DisplayName;
}
<p class="date-time-field date-time-field-@name.HtmlClassify()">
    <span class="value">
        @if (Model.Model.Editor.ShowDate)
        {
            DateTime dateTime;
            string date = Model.Model.Editor.Date;
            if (DateTime.TryParse(date, out dateTime))
            {
                // 03 Oct, 2014
                <text>
                    <span class="day">@dateTime.ToString("dd")</span>&nbsp;<span class="month">@dateTime.ToString("MMM")</span><span class="year">, @dateTime.ToString("yyyy")</span>
                </text>
            }
            else
            {
                <text>@date</text>
            }
        }
        @if (Model.Model.Editor.ShowTime)
        {
            <text>@Model.Model.Editor.Time</text>
        }
    </span>
</p>
