@using System.Dynamic;
@using System.Linq;
@using Orchard.ContentManagement;
@using Orchard.Utility.Extensions;
@using LccNetwork.Bootstrap.Extensions;

@{
    var contentItems = (Model.ContentItems as IEnumerable<ContentItem>).ToList();
    var cssClass = contentItems.First().TypeDefinition.Name.HtmlClassify();
    MyFunctions.SortContentItemsByAssociatedLcc(contentItems);
    var lastLcc = string.Empty;
    foreach (ContentItem item in contentItems)
    {
        var itemDisplayUrl = Url.ItemDisplayUrl(item);
        // get the mainPart, so we can access the item's fields
        dynamic mainPart = MyFunctions.GetMainPartFromContentItem(item);
        var firstName = mainPart.FirstName.Value;
        var lastName = mainPart.LastName.Value;
        var position = mainPart.Position.Value;
        var email = mainPart.Email.Value;
        var lccTermPart = MyFunctions.GetTermPartFromTaxonomyField(mainPart.Lcc);
        var associatedLcc = lccTermPart != null ? lccTermPart.Name : string.Empty;        
        if (!associatedLcc.Equals(lastLcc))
        {            
            <h2>@associatedLcc</h2>
        }
        if (associatedLcc.Length == 0 && lastLcc.Length == 0)
        {
            @* This is for staff without an associated LCC *@
            <p><a href="mailto:@email">@firstName @lastName</a> - <strong>@position</strong></p>
        }
        else
        {
            @* This is for staff with an associated LCC *@
            <p><a href="mailto:@email">@firstName @lastName</a> - <span>@position</span></p>
        }
        lastLcc = associatedLcc;
    }
}