<li class=""><a href="mailto:@Model.EmailAddress"><i class="icon-envelope"></i>@Model.EmailAddress</a></li>
<li class=""><a href="tel:1-@Model.PhoneNumber"><i class="icon-bell"></i>@Model.PhoneNumber</a></li>
<li class="">
    <address>
        @Model.StreetAddress<br />
        @Model.City, @Model.Province<br />
        @Model.Country, @Model.PostalCode
    </address>
</li>
