@{
    var menu = Model.Menu;
    var collapseId = Model.Id;

    var tag = Tag(menu, "ul");
    tag.AddCssClass("list-unstyled");
    var items = (IList<dynamic>)Enumerable.Cast<dynamic>(menu.Items);

    // get the first, selected, top level item
    var selectedMenuItem = items.FirstOrDefault(i => i.Item.Selected);

    // proceed only if there is a selected menu item
    // otherwise we're probably on the hope page (or something odd has happened)
    if (selectedMenuItem != null)
    {
        // selectedMenuItem.Selected = !subItems.Any(i => i.Selected);

        // now render the item and its children
        <nav>
            @*use the text of selected menu item as the title of the subnav*@
            <header>
                <h2>@selectedMenuItem.Text</h2>
            </header>

            @*then render the subnav*@
            @tag.StartElement

            @Display.SectionMenuItem(MenuItem: selectedMenuItem, IsTopLevel: true)
            @Display.SectionMenuItemChildren(MenuItem: selectedMenuItem)

            @tag.EndElement
        </nav>
    }
}
