@{
    var menu = Model.Menu;
    var allItems = (IList<dynamic>)Enumerable.Cast<dynamic>(menu.Items);
    var allItemsExceptHome = allItems.Where(i => !i.Href.Equals("/"));
    var tag = Tag(menu, "ul");
    tag.AddCssClass("list-unstyled");

    <div>
        @foreach (var item in allItemsExceptHome.Select((x, i) => new { Value = x, Index = i }))
        {
            // start column column
            if (item.Index % 2 == 0)
            {
                //0, 2, 4, 6
                @tag.StartElement
            }

            // render inside the column
            @Display.FooterMenuHeader(Item: item.Value.Item)
            @Display.FooterMenuItem(Item: item.Value.Item)
            @Display.FooterMenuChildren(Items: item.Value.Items)

            // end column
            if (item.Index % 2 == 1 || item.Index == allItemsExceptHome.Count())
            {
                // 1, 3, 5
                @tag.EndElement
            }
        }
    </div>
}
